* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
  padding: 0 80px;
}

h1 {
  padding: 80px 0 40px 0;
  text-align: center;
}

.crypto__list, .fav__crypto__list {
  margin: 0 auto;
  width: 60%;
  list-style: none;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 34px 40px 40px;
    border-bottom: 1px solid #e1e1e1;
  }

  img {
    width: 26px;
    margin-left: 80px;
  }

  h2 {
    font-size: 16px;
    margin: 0 20px;
  }

  .symbol {
    margin-right: 40px;
    color: #9a9a9a;
  }

  .price {
    margin-left: auto;

    .green__arrow {
      color: green;
    }

    .red__arrow {
      color: red;
    }

    .price__tag {
      margin-left: 6px;
      padding: 6px;
      border-radius: 4px;
    }

    .green__price__tag {
      color: green;
      background-color: #b4f8c8;
    }

    .red__price__tag {
      color: red;
      background-color: #ffaebc;
    }
  }
}

.fav__crypto__list{
  background-color: #e5e5e5;
  border-radius: 20px;
  margin-top: 40px;

  li{
    text-align: center;
    border-bottom: 1px solid #ffffff;
  }
}


